.header {
  text-align: center;
  padding: 1rem 0;
  margin: 2rem 0;
}
.bio {
  padding: 2rem;
  margin-bottom: 10rem;
}
p {
  margin-bottom: 1rem;
}
section{
  max-width: 30rem;
}
.bioBody img{
  max-height: 20rem;
}
.bioBody{
  margin-top: 2rem;
}
.divider{
  background-color: #b71c1c;
}